body{
    background-color:bisque
}

body {
    background-image: url(images/docyard.webp2.avif)
   
}

p {
    background-image: url(images/docyard.webp);
}

a:hover{
    color: orange;
}

#div1 {
    background-color: yellow;
    height: 100px;
    width: max(50%, 200px);
}
  
div {
    background-color: transparent;
}

img{

    margin-left: auto; 
    margin-right: right;
    margin-bottom: 20px;
    display: block;
    box-shadow: 5px 5px;
    width:300px;
    border: 5px blue solid;
}

    p{
      color: blue;
    }

.import-text{
    color:antiquewhite;
    border: black;
    padding: 15px;
}

.important-content {
    text-align:center;
    background-color: white;
    width: 70;
    margin-left:auto;
    margin-right:auto;
    display:block;
    font-family: 'Oswald', sans-serif;

}

.top-content{background-color: black;

}
.important-content{
    background-color:yellow
}

.header{
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.bottom-content{
    background-color: beige;
}

.important-shipping{
        border: 10px pink solid;
}

nav{
    background-color: grey;
    height: 6vh; 
    font-size: large; 
    display:flex;
    justify-content: space-evenly;
}
.title{
    display:flex;
    justify-content: space-evenly;
}
.content{
    background:rgba(245, 222, 179, 0.712);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}